.form {
    display: inline-block;
    margin-left: 550px;;
    margin-right: 550px;
    margin-bottom: 100px;
    text-align: left;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

div.form{
    display: block;
    text-align: left;
    
}

.formInput :focus{
    background-color: rgb(222, 236, 223);
}

.page {
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


